<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Climber App</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <link rel="stylesheet" href="/edit.css" />
  </head>
  <body>
    <div class="container">
        <h1>Edit Course</h1>
        <button onclick="window.location.href='/classes/scheduler'">Back</button>
        <form action="/classes/scheduler/<%=schedule._id%>?_method=PUT" method="POST">
            Notes about the Course:<br><input type="text" name="note" value="<%=schedule.note%>"/><br />
            Completed? <input type="checkbox" name="completed"
            <% if(schedule.completed === true){ %> checked <% } %> /><br />
      <input type="submit" value="Submit Changes" />
        </form>
    </div>
  </body>
</html>

