<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="/normalize.css" />
        <link rel="stylesheet" href="/skeleton.css" />
        <link rel="stylesheet" href="/welcome.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="topnav">
            <% if(currentUser) { %>
            <a class="active" href="/">Home</a>
            <a href="/classes">Classes</a>
            <a href="/classes/scheduler">Scheduler</a>
            <a href="/classes/new">New Class</a>
            
            <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Log Out"/>
            </form>
            <% } else { %>
            <a class="active" href="/">Home</a>
            <a href="/classes">Classes</a>
            <a href="/classes/new">New Class</a>
            <a href="http://danielwerminghausen.com/">About</a>
            <a id="signin" href="/users/new">Register</a>
            <a id="signin1" href="/sessions/new">Login</a>
            <% } %>
        </div><br>
        <!-- <% if(currentUser) { %>
            <form action="/sessions?_method=DELETE" method="POST">
                <input id="smallbut" type="submit" value="Log Out" />
            </form>
        <% } %>
        <br> -->
        <div id="center">
            <h1>Welcome to Crud Climber</h1><br>
            <button onclick="window.location.href='/classes'">Lets get Started!</button><br><br>
            <div class="slideshow-container">

                <div class="mySlides fade">
                  <!-- <div class="numbertext">1 / 3</div> -->
                  <img src="https://images.unsplash.com/photo-1522163182402-834f871fd851?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=4620&q=80" style="width:100%">
                  <div class="text">Join Our Rock Climbing Team Today</div>
                </div>
                
                <div class="mySlides fade">
                  <!-- <div class="numbertext">2 / 3</div> -->
                  <img src="https://images.unsplash.com/photo-1564769662533-4f00a87b4056?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=7952&q=80" style="width:100%">
                  <div class="text">2 Day Bouldering Pass only $24.99</div>
                </div>
                
                <div class="mySlides fade">
                  <!-- <div class="numbertext">3 / 3</div> -->
                  <img src="https://images.unsplash.com/photo-1586627161720-ee2849303aee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80" style="width:100%">
                  <div class="text">Annual Membership discounts starting at $429</div>
                </div>
                
                </div>
                
                <div style="text-align:center">
                  <span class="dot" onclick="currentSlide(1)"></span> 
                  <span class="dot" onclick="currentSlide(2)"></span> 
                  <span class="dot" onclick="currentSlide(3)"></span> 
                </div>
            </div><br>
        </div>
            </head>
                <script>
                    var slideIndex = 0;
                    showSlides();
                    
                    function showSlides() {
                      var i;
                      var slides = document.getElementsByClassName("mySlides");
                      var dots = document.getElementsByClassName("dot");
                      for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";  
                      }
                      slideIndex++;
                      if (slideIndex > slides.length) {slideIndex = 1}    
                      for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active", "");
                      }
                      slides[slideIndex-1].style.display = "block";  
                      dots[slideIndex-1].className += " active";
                      setTimeout(showSlides, 5000); // Change image every 5 seconds
                    }
             </script>
    </body>
</html>