<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="/normalize.css" />
        <link rel="stylesheet" href="/skeleton.css" />
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/classes">Classes</a>
            <a href="/about">About</a>
        </div><br>
        <div id="center">
        <h1>Welcome to Crud Climber</h1><br>
        <button onclick="window.location.href='/classes'">Lets get Started!</button>
        </div>
        <!-- <nav>
            <form action="/signin/">
                <input type="submit" value="Sign In" />
            </form>
            <form action="/signup/">
                <input type="submit" value="Sign Up" />
            </form>
        </nav> -->
        
        <style type="text/css">
            body {
                    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("https://images.unsplash.com/photo-1522163182402-834f871fd851?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=4620&q=80");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    font-size: 25px;
                    font-weight: bold;
                    font-family: Didot, serif;
                    }
                    #center {
                    height: 200px;
                    width: 600px;
                    /* background: black; */
                    padding-right: 30px;
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    margin-top: -100px;
                    margin-left: -300px;
                    }
                    .topnav {
                    overflow: hidden;
                    background-color: #333;
                    }
                    .topnav a {
                    float: left;
                    color: #f2f2f2;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                    font-size: 17px;
                    }
                    .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                    }
                    .topnav a.active {
                    background-color: #0d9261;
                    color: white;
                    }
                    form {
                    
                    padding-right: 10px;
                    padding-top: 10px;
                    display: inline;
                    float: right;
                    }
                    button{
                    color:white;
                    background-color: #282828;
                    height: 40px;
                    /* width: 110px; */
                    }
                    input[type=submit]{
                    color:white;
                    background-color: #282828;
                    /* width: 110px; */
                    }
                    #signin {
                    float: right;
                    }
            </style>
        <script src="" async defer></script>
    </body>
</html>