body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.unsplash.com/photo-1586627161720-ee2849303aee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 25px;
  font-weight: bold;
  font-family: Didot, serif;
}
button {
  color: white;
  background-color: #282828;
  width: auto;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #0d9261;
  color: white;
}
#signin {
  float: right;
}
input[type="submit"] {
  color: white;
  width: 138px;
  background-color: #282828;
}
#signin {
  float: right;
}
#signin1 {
  float: right;
}
input[type="submit"] {
  color: white;
  background-color: #282828;
  float: right;
  /* width: 110px; */
}
form {
  padding-top: 10px;
  padding-right: 10px;
}
#user {
  float: right;
}
