<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <link rel="stylesheet" href="/sessions/new.css" />
    <title>Login</title>
    
  </head>

  <body>

    <button onclick="window.location.href='/classes'">Back</button><h1>Login</h1>
    <!-- <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button> -->
    <divclass="modal">
      
      <form class="modal-content animate" action="/sessions" method="post">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
          <img src="https://i.pinimg.com/originals/7c/57/47/7c5747448271c2e48c00c5257803a7fd.jpg" alt="Avatar" class="avatar">
        </div>
        
        <div class="container">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" />
    
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" />
    
          <input type="submit" value="Login" />
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      </form>
    </div>
  </body>
</html>



